.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
  
.slider {
    overflow: hidden;
    width: 500px;
    position: relative;
}

img {
    width: 100%;
    display: none;
}
  
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
#prev {
    display: none;
}
  
#next {
    display: block;
} 